.grid-container {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(10, 4vw);
    grid-template-rows: repeat(10, 4vw);
}

.square {
    background: lightblue;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
  }